importFrom ("graphics", "abline", "axis", "box", "contour", "lines", "par", "plot", "plot.new", "plot.window", "points", "title")
importFrom ("barsurf", "plot3d.bar", "plot3d.surf")
importFrom ("stats", "runif", "sd")
exportPattern ("^[^\\.]")
S3method (plot, nppdfuv)
S3method (plot, npcdfuv)
S3method (plot, npcdfuv.inverse)
S3method (plot, nppdfmv)
S3method (plot, npcdfmv)
S3method (plot, chained.npcdfmv.inverse)
S3method (plot, nppdfc)
S3method (plot, npcdfc)
S3method (plot, npcdfc.inverse)
S3method (plot, marginal)
S3method (plot, eccdf)
S3method (plot, eccdf.inverse)
S3method (plot, reglike)
S3method (lines, nppdfuv)
S3method (lines, npcdfuv)
S3method (lines, npcdfuv.inverse)
S3method (lines, nppdfc)
S3method (lines, npcdfc)
S3method (lines, npcdfc.inverse)
S3method (lines, eccdf)
S3method (lines, eccdf.inverse)
S3method (lines, reglike)
