importFrom ("intoo", "%$%", "%$%<-", "EXTEND", "LIST", "THAT", "THIS", "object.summary")
importFrom ("grDevices", "hcl.colors", "rgb")
importFrom ("graphics", "abline", "axis", "box", "contour", "layout", "lines", "par", "polygon", "plot", "plot.new", "plot.window", "points", "title")
importFrom ("barsurf", "plot2d.contour", "plot3d.bar", "plot3d.surface", "use.theme")
importFrom ("kubik", "chs", "chs.argmaxs", "chs.slopes")
importFrom ("stats", "dbinom", "dnorm", "pbinom", "pnorm", "runif", "sd")
exportPattern ("^[^\\.]")
S3method (print, phmodel)
S3method (plot, dkernel)
S3method (plot, ckernel)
S3method (plot, pmfuv.dks)
S3method (plot, cdfuv.dks)
S3method (plot, qfuv.dks)
S3method (plot, pdfuv.cks)
S3method (plot, cdfuv.cks)
S3method (plot, qfuv.cks)
S3method (plot, pdfmv.cks)
S3method (plot, cdfmv.cks)
S3method (plot, pdfc.cks)
S3method (plot, cdfc.cks)
S3method (plot, qfc.cks)
S3method (plot, pdfmvc.cks)
S3method (plot, cdfmvc.cks)
S3method (plot, pmfuv.cat)
S3method (plot, cdfuv.cat)
S3method (plot, qfuv.cat)
S3method (plot, cdf.el)
S3method (plot, qf.el)
S3method (plot, chqf)
S3method (plot, marginal.set)
S3method (plot, categorical.set)
S3method (plot, conditional.set)
S3method (lines, pdfuv)
S3method (lines, cdfuv)
S3method (lines, qfuv)
S3method (range, pmfuv)
S3method (range, pdfuv)
S3method (range, cdfuv)
S3method (range, qfuv)
S3method (seq, pmfuv)
S3method (seq, pdfuv)
S3method (seq, cdfuv)
S3method (seq, qfuv)
