importFrom ("grDevices", "hcl.colors", "rgb")
importFrom ("graphics", "abline", "axis", "box", "contour", "layout", "lines",
    "par", "polygon", "plot", "plot.new", "plot.window", "points", "rect", "title", "xinch")
importFrom ("barsurf", "set.bs.options", "plot_cfield", "plot_surface", "plotf_cfield_3d", "plotf_isosurface")
importFrom ("kubik", "chs", "chs.constraints", "chs.slopes", "chs.argmaxs")
importFrom ("stats", "bw.nrd", "bw.nrd0", "dbinom", "dnorm", "pbinom", "pnorm", "runif", "sd", "quantile")
importFrom ("methods", "is", "new")
importFrom ("utils", "head")
exportPattern ("^[^\\.]")
S3method (names, phob)
S3method (print, phob)
S3method (plot, phob)
S3method (lines, phob)
S3method (seq, dpduv)
S3method (seq, cpduv)
S3method (ph.namesf, phmodel)
S3method (ph.printf, Kernel)
S3method (ph.printf, phmodel)
S3method (ph.printf, dset)
S3method (ph.plotf, DKernel)
S3method (ph.plotf, CKernel)
S3method (ph.plotf, dksuv)
S3method (ph.plotf, cksuv)
S3method (ph.plotf, cksmv)
S3method (ph.plotf, cksc)
S3method (ph.plotf, cksmvc)
S3method (ph.plotf, catuv)
S3method (ph.plotf, eluv)
S3method (ph.linesf, cpduv)
S3method (ph.plotf, ph4.gset)
S3method (ph.plotf, ph4.mset)
S3method (as.list, dset)
S3method (ph.plotf, catc)
S3method (ph.plotf, gmix)
S3method (ph.plotf, xmix)
S3method (max, cpd)
S3method (max, dpd)
S3method (min, cpd)
S3method (min, dpd)
S3method (range, cpd)
S3method (range, dpd)
S3method (pwith, cksmv)
S3method (pwith, cksuv)
